## This configuration file assumes the following circle environment variables are set:
##  CODECLIMATE_REPO_TOKEN

default-job-init: &default-job-init
    docker:
      - image: qlik/go-build
    working_directory: /go/src/github.com/qlik-oss/mongocursorpagination
remote_docker_version: &remote_docker_version
    version: 18.06.0-ce
load-test-docker-image: &load-test-docker-image
    name: Load test docker image
    command: |
      docker image load -i /workspace/docker-test.tar

version: 2
jobs:
  build-test-image:
    <<: *default-job-init
    steps:
      - setup_remote_docker:
          <<: *remote_docker_version
      - checkout
      -  run:
          name: Set up workspace
          command: |
              mkdir -p /workspace
      - run:
          name: Build a test image
          command: |
            make build-test-docker
            docker save -o /workspace/docker-test.tar mongocursorpagination-test:latest
      - persist_to_workspace:
          root: /workspace
          paths:
            - docker-test.tar
  lint:
    <<: *default-job-init
    steps:
      - attach_workspace:
          at: /workspace
      - setup_remote_docker:
          <<: *remote_docker_version
      - run:
          <<: *load-test-docker-image
      - checkout
      - run:
          name: Lint
          command: |
            docker run --rm mongocursorpagination-test make lint
  unit-test:
    <<: *default-job-init
    steps:
      - attach_workspace:
          at: /workspace
      - setup_remote_docker:
          <<: *remote_docker_version
      - run:
          <<: *load-test-docker-image
      - checkout
      - run:
          name: Test
          command: |
            docker run --name unit-test mongocursorpagination-test make test-unit-code-climate
            docker cp unit-test:/go/src/github.com/qlik-oss/mongocursorpagination/unit.cover /workspace/.
      - persist_to_workspace:
          root: /workspace
          paths:
            - unit.cover
  integration-test:
    <<: *default-job-init
    steps:
      - attach_workspace:
          at: /workspace
      - setup_remote_docker:
          <<: *remote_docker_version
      - run:
          <<: *load-test-docker-image
      - checkout
      - run:
          name: Test
          command: |
            docker run --name integration-test -v /var/run/docker.sock:/var/run/docker.sock mongocursorpagination-test make test-integration-code-climate ARGS="-docker=true"
            docker cp integration-test:/go/src/github.com/qlik-oss/mongocursorpagination/integration.cover /workspace/.
      - persist_to_workspace:
          root: /workspace
          paths:
            - integration.cover
  upload-coverage:
    <<: *default-job-init
    steps:
      - checkout
      - attach_workspace:
          at: /workspace
      - run:
          name: Upload
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter
            echo "mode: set" > cover.out
            grep -h -v "^mode:" /workspace/unit.cover /workspace/integration.cover >> cover.out
            sed -i "s/github.com\/qlik-oss\/mongocursorpagination\///" cover.out
            go get github.com/cbrand/gocov-merge
            gocov-merge cover.out > c.out
            cat c.out
            ./cc-test-reporter before-build
            ./cc-test-reporter after-build -r $CODECLIMATE_REPO_TOKEN

workflows:
  version: 2
  build_test_and_push:
    jobs:
      - build-test-image
      - lint:
          requires:
            - build-test-image
      - unit-test:
          requires:
            - build-test-image
      - integration-test:
          requires:
            - build-test-image
      - upload-coverage:
          requires:
            - unit-test
            - integration-test
